header {
    height: 100px;
    background-color: #0A0E22;
}
.header-content {
    display: flex;
    justify-content: space-between;
}
.header-logo a {
    text-decoration: none;
    color: #FAFAFA;
    font-weight: bold;
    height: 50px;
    font-size: xx-large;
    text-align: center;
    display: block;
    line-height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.header-logo a:hover {
    opacity: 0.5;
}

.header-nav {
    margin-right: 20px;
}

.header-nav li{
    float: left;
    list-style: none;
}
.header-nav li a {
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    color: #FAFAFA;
    display: block;
}
.header-nav li a:hover {
    background-color: #0A0E22;
    opacity: 0.5;
    border-bottom: solid 0.5px #EAEAEA;
}
body {
    background-color: #E0E0E0;
}
.wrapper p {
    text-align: center;
}
.wrapper img {
    width:100%;
}
h2 {
    margin: 50px 0 10px 0;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    border-top: solid 0.5px #EAEAEA;
}
.notice {
    width: 60%;
    height: 200px;
    border: solid 1px #EAEAEA;
    background-color: #F8F8F8;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    height: 100px;
    background-color: #1B2C3D;
}
.footer-content p {
    color: #FAFAFA;
}
.footer-logo {
    float: right;
}
.footer-logo a {
    text-decoration: none;
    color: #FAFAFA;
    font-weight: bold;
    height: 50px;
    font-size: xx-large;
    text-align: center;
    display: block;
    line-height: 50px;
    margin-right: 20px;
    margin-top: 20px;
}
.footer-logo a:hover {
    opacity: 0.5;
}

@media and (max-width: 480px) {
    header {
        height: 20%;
    }
}