.race-image {
    text-align: center;
}
.race-image img {
    width: 60%;
    height: 60%;
}

.entry-rule p {
    font-weight: bold;

}
.entry-rule {
    width: 80%;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.entry-rule-list {
    text-align: left;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.time p {
    font-size: x-large;
}
.race-content {
    text-align: center;
    font-size: x-large;
    background-color: #f8f8f8;
    width: 80%;
    margin: 20px auto 0px auto;
    height: 100%;
    padding: 30px;
}

.race-title {
    background: #1B2C3D;
    padding: .4em .8em;
    margin: 0 0 1em;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
}

.cp_table *, .cp_table *:before, .cp_table *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_table {
	width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

.cp_table li {
    list-style: none;
    margin-bottom: 10px;
}
.cp_table th, .cp_table  td {
	padding: 10px;
	border: 1px solid #dddddd;
}
.cp_table th {
	width: 20%;
	text-align: left;
	background: #f4f4f4;
}

.cortion {
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color:  #dddddd;
    padding: 10px;
}

.cortion p {
    padding-top: 10px;
    font-weight: bold;
}

.cortion-list {
    text-align: left;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.time-schedule {
    width: 80%;
    background-color:;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.time-schedule p {
    padding-top: 10px;
    font-weight: bold;
}

.time_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

.time_table th {
    width: 20%;
	text-align: center;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #f4f4f4;
}

.time_table tr th,.time_table tr td {
    padding: 10px;
	border: 1px solid #dddddd;
}